@import "tailwindcss";

body {
  cursor:
    url("/cursor/select-cursor-24.svg") 8 8,
    auto;
}

input,
textarea {
  cursor:
    url("/cursor/text-cursor-24.svg") 8 8,
    auto;
}

a,
button {
  cursor:
    url("/cursor/pointer-cursor-24.svg") 8 8,
    auto;
}
